name: CI

on: push
jobs:
  Test:
    if: |
      !contains(github.event.head_commit.message, '[skip ci]')
    strategy:
      fail-fast: false
      matrix:
        os:             [ubuntu-latest]
        nim-channel:    [stable, devel]

    name: ${{ matrix.os }}-${{ matrix.nim-channel }}
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Setup nim
      uses: jiro4989/setup-nim-action@v1
      with:
        nim-version: ${{ matrix.nim-channel }}

    - name: Test
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install clang-20 lld-20
        # For some reason wasm-ld is not in PATH, so add it. llvm version should probably match that of clang
        #export PATH=$PATH:/usr/lib/llvm-20/bin
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-20 200
        clang --version

        nim --version
        nimble install -dy
        nimble test
